{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

<form action="/sell" method="post">
    <div class="mb-3">
        <select>
            <option disabled selected>Stock Symbol</option>
            {% for portfolio in portfolio %}
            <option id="symbol" name="symbol"> {{ portfolio }} </option>
            {% endfor %}
        </select>
        <br></br>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}